<a href="https://colab.research.google.com/github/dhanhyuti/assignment/blob/main/create_DF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd

In [19]:
df_emp = pd.DataFrame({
    'employee_id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'employee_name': ['John Smith', 'Alice Johnson', 'Bob Williams', 'Eva Brown', 'Charlie Davis', 'David Miller', 'Emily Wilson', 'Frank Garcia', 'Grace Rodriguez', 'Henry Martinez'],
    'salary': [60000, 75000, 55000, 80000, 65000, 70000, 50000, 90000, 62000, 78000],
    'designation': ['Software Engineer', 'Data Scientist', 'Web Developer', 'Project Manager', 'Business Analyst', 'Data Analyst', 'UX Designer', 'DevOps Engineer', 'QA Tester', 'Product Manager']
})

In [20]:
salary_stats = df_emp['salary'].describe()

In [21]:
print(salary_stats)

count       10.000000
mean     68500.000000
std      12385.026802
min      50000.000000
25%      60500.000000
50%      67500.000000
75%      77250.000000
max      90000.000000
Name: salary, dtype: float64